* {
    box-sizing: border-box;
}

.row {
    border:2px solid black;
    border-radius:5px;
    margin:3px;
    padding: 3px;   
}


.element {
    border: 2px solid #f08c00;
    background-color: #ffec99;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    float:left;
 }

.row::after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
}

.w1 { width: calc(100%/ 12 - 10px); }
.w2 { width: calc(100% / 6 - 10px); }
.w3 { width: calc(25% - 10px); }
.w4 { width: calc(100% / 3 - 10px); }
.w5 { width: calc(100% * 5 / 12 - 10px); }
.w6 { width: calc(50% - 10px); }
.w7 { width: calc(100% * 7 / 12 - 10px); }
.w8 { width: calc(100% * 2 / 3 - 10px); }
.w9 { width: calc(75% - 10px); }
.w10 { width: calc(100% * 5 / 6 - 10px); }
.w11 { width: calc(100% * 11 / 12 - 10px); }
.w12 { width: calc(100% - 10px); }


