.container {
  display: flex;
  height: 200px;
  border: 2px solid #333;
  gap: 10px;
  align-items: center;
}

.item {
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.item1 {
  background-color: #3498db;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50px;
}

.item2 {
  background-color: #e67e22;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 50px;
}

.item3 {
  background-color: #2ecc71;
  flex-grow: 1;
  flex-shrink: 3;
  flex-basis: 100px;
  align-self: flex-start; /* wijkt af van align-items */
}

.item4 {
  background-color: #9b59b6;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 80px;
  align-self: flex-end; /* wijkt af van align-items */
}

