* {
    box-sizing: border-box;
}

form {
    width: 600px;
    margin: auto;
    margin-top: 20px;
}

fieldset {
    border-radius: 10px;
    padding: 20px;
}
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-gap: 2em;
    margin-bottom:1em;
}

.col {
  margin: 0.1em;     
  text-align:center;
}

.col-1  { grid-column: span 1; }
.col-2  { grid-column: span 2; }
.col-3  { grid-column: span 3; }
.col-4  { grid-column: span 4; }
.col-5  { grid-column: span 5; }
.col-6  { grid-column: span 6; }
.col-7  { grid-column: span 7; }
.col-8  { grid-column: span 8; }
.col-9  { grid-column: span 9; }
.col-10  { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12  { grid-column: span 12; }

img {
    width: 100%;
}

body, select, input {
    font: 14pt "Fira Sans", sans-serif;
}

select, button, input[type=submit]{
    background-color: #3fb0e0;
    border: none;
}

input[type=submit]{
    height:3em;
}

input, select, button, label {
    padding: 5px;
    display: block;
    width: 100%;
}
