/* algemeen */
section {
    width: 100%;
    height: 250px;
}

/* scherm GROTER dan 1000px */
@media screen and (min-width: 1000px) {
    section {
        background-color: #f00;
        color: white;
    }
}

/* scherm KLEINER dan 1000px */
@media screen and (max-width: 1000px) {
    section {
        background-color: red;
    }
}

/* scherm KLEINER dan 800px */
@media screen and (max-width: 800px) {
    section {
        background-color: green;
        color: white;
    }
}

/* scherm KLEINER dan 500px */
@media screen and (max-width: 500px) {
    section {
        display: none;
    }
}
