
section {
    box-sizing: border-box;
    width: 58%;
    margin: 1%;

    border: 3px solid #f00;
}

.photowidth {
    width: 100%;
    height: auto;
}

.photomaxwidth {
    max-width: 100%;
    height: auto;
}
