* {
    box-sizing: border-box;
}
.container {
    padding: 5px;
    width: 960px;
    margin: 0 auto;
    border: 1px solid #000000;
    display:flex;
    flex-flow:row wrap;
}
header {
    background-color: #0072ff;
    color: #ffffff;
    padding: 20px;
    flex:0 0 100%;
    order:1;
}
main {
    flex: 0 0 700px;
    order:2;
    padding: 20px;
}
figure {
    border: 1px solid #000000;
    flex: 0 0 200px;
    height: 200px;
    order:3;
    margin: 40px 0;
}
footer {
    order:4;
    flex:0 0 100%;
    text-align:center;
    background-color: #ff0000;
    color: white;
}
img{
    width:100%;
    height:auto;    
    aspect-ratio: 100 / 100;
    object-fit:cover;
}


@media screen and (max-width: 980px) {
  // volgorde aanpassen via order: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/order
  
}
@media screen and (max-width: 700px) {

}


