* {
    box-sizing: border-box;
}

form {
    width: 600px;
    margin: auto;
    margin-top: 20px;
}

fieldset {
    border-radius: 10px;
    padding: 20px;
}

.row {
    width:100%;
    display:flex;
    flex-flow: row nowrap;
    align-items:center;
    gap:1em;
    margin:0.8em 0;
}

.col-1 { flex: 1; }
.col-2 { flex: 2; }
.col-3 { flex: 3; }
.col-4 { flex: 4 }
.col-5 { flex: 5; }
.col-6 { flex: 6; }
.col-7 { flex: 7; }
.col-8 { flex: 8;}
.col-9 { flex: 9; }
.col-10 { flex: 10; }
.col-11 { flex: 11; }
.col-12 { flex: 12; }


img {
    width: 100%;
}

body, select, input {
    font: 14pt "Fira Sans", sans-serif;
}

select, button, input[type=submit]{
    background-color: #3fb0e0;
    border: none;
}

input[type=submit]{
    height:3em;
}

input, select, button, label {
    padding: 5px;
    display: block;
    width: 100%;
}
