/* grootste weergave */
body {
    background-color: lightgreen;
}

@media screen and (max-width: 600px) {
    body {
        background-color: lightcoral;
    }
}

@media screen and (max-width: 900px) {
    body {
        background-color: lightsalmon;
    }
}


